{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
     <fieldset class="form-group">
         <legend class="border-bottom mb-4">Delete Product</legend>
        <h1>Are you sure you want to delete the product "{{ object.product_name }}"?</h1>
    </fieldset>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Yes, Delete</button>
        <a class="btn btn-outline-danger" href="{% url 'products_detail' object.id %}">Cancel</a>
    </div>
</form>
</div>
<br><br>

{% endblock content %}